node_modules/
dist/*.html
dist/*.json
dist
npm-debug.log*
package-lock.json

.DS_Store
.cache
.rdoc-dist

*.bak
*.tem
*.temp
#.swp
*.*~
~*.*
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
branch_structure.json
